* {
  box-sizing: border-box;
}

@media (min-width:1200px) {
  .container {
    max-width: 478px !important;
  }
}


nav {
  height: 70px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.hero-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 26px 0px;
}

.hero-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
}

.hero-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
}

.hero-header img {
  height: 232px;
}
